@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

body {
	background-color:#333333;
	background-image: url(../media/images/bur906.jpg);
	background-attachment: scroll;
	margin: 10px;
	padding: 15px;
    color: #bbbbbb;
    font-size: large;
    font-family: Roboto, sans-serif;
}

h1, h2, h3 {
    font-family: Noto Sans JP, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

nav {
    text-align: center;
}

a {
	color: #bbbbbb;
    font-size: larger;
    text-align: center;
}

a:hover {
	color: #f8514b;
	
}

header, footer {
    background-image: url("../media/images/invert883.png");
	background-attachment: fixed;
    text-align: center;
    border: 3px solid #bbbbbb;
}

.images {
    margin: 0 auto;
    clear: both;
    column-count: 4;
    column-gap: 0;
    line-height: 0;
}

section > img {
    width: 100%;
    max-width: 350px;
}


.social-media li {
    display: inline;
    
}

.social-media i {
    font-size: 170%;
    margin: 0.5%;
    padding: 1%;
}

.social-media:hover {
	color: #f8514b;
	
}

.contact-button {
    color: #f8514b;
    background-color: #333333;
    font-family: Noto Sans JP, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    position: relative;
    top: 50%;
    left: 40%;
    display: block;
    width: 20%;

}

.contact-button:hover {
    color: #333333;
    background-color: #f8514b;

}

#benefits-container {
    height: 900px
}

.left-align {
    padding-top: 20px;
    width: 50%;
    float: left;
    text-align: center;
}

.right-align {
    padding-top: 20px;
    width: 50%;
    float: right;
    text-align: center;
}

.middle-align {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 400px;
}