@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}


body {
	background-color:#333333;
	background-image: url(../media/images/bur906.jpg);
	background-attachment: scroll;
    color: #bbbbbb;
    font-size: large;
    font-family: Roboto, sans-serif;
    margin: 0;
}

h1, h2, h3 {
    font-family: Noto Sans JP, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.main-section {
    padding: 15px 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.question-section {
    padding: 15px 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.map-section {
    padding: 0 10px;
    margin: 10px 10px 0 10px;
}

nav {
    text-align: center;
    padding: 0 50px;
}

a {
	color: #bbbbbb;
    font-size: larger;
    text-align: center;
}

a:hover {
	color: #f8514b;
	
}

header, footer {
    background-image: url("../media/images/invert883.png");
	background-attachment: fixed;
    background-position: left;
    text-align: center;
    border: 3px solid #bbbbbb;
}

.images {
    margin: 0 auto;
    clear: both;
    line-height: 0;
    width: 100%;
}

section > img {
    width: 100%;
}

.ititle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f8514b;
}

.ititle h3 {
    margin: 10px 0 20px;
}

@media (min-width: 768px) {
    section > img {
        width: 50%;
    }
}
.video {
    width: 100%
}

@media (min-width: 1024px) {
    section > img {
        width: 25%;
    }
}

@media (min-width: 1440px) {
    .question-section {
        padding: 15px 155px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap; 
    }
}

div > h3 {
    color: #f8514b;
}

.contact-muscle-genie {
    color: #f8514b;
    text-transform: capitalize;
}

fieldset > #fname, #lname, #email, #mobile {
    display: block;
    width: 50%
}

fieldset > input {
    display: inline;
}

.genie-left {
    padding: 10px 0 0 5px;
}

.form-block {
    display: block;
}

.social-media {
    padding-left: 0;
}

.social-media li {
    display: inline;
    
}

.social-media i {
    font-size: 170%;
    margin: 0.5%;
    padding: 1%;
}

.social-media:hover {
	color: #f8514b;
	
}

.tag-center {
    display: flex;
    align-items: center;
}

.contact-button {
    color: #f8514b;
    background-color: #333333;
    font-family: Noto Sans JP, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    display: block;
    margin: 20px auto 0;

}

.contact-button:hover {
    color: #333333;
    background-color: #f8514b;

}

#benefits-container {
    display: flex;
    flex-wrap: wrap;
}

#media-container {
    height: fit-content;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.left-align {
    padding-top: 15px;
    width: 50%;
    text-align: center;
    display: inline;
    padding-right: 7.5px;
}

.right-align {
    padding-top: 15px;
    width: 50%;
    text-align: center;
    display: inline;
    padding-left: 7.5px;
}